<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center pt-3">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- Form Name -->
            <legend class="font-weight-bold">GOAL PROGRAMMING</legend>
            <!-- File Button -->
            <div class="form-group row mt-4">
                <div class="col-sm-4"></div>
                <label class="col-sm-2 col-form-label text-left" for="filebutton">Client Data</label>
                <div class="col-sm-4">
                    <input type="file" name="client_data" id="client_data" class="form-control-file">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <label class="col-sm-2 control-label text-left" for="filebutton">Driver Data</label>
                <div class="col-sm-4">
                    <input type="file" name="driver_data" id="driver_data" class="form-control-file">
                </div>
                <div class="col-sm-2"></div>
            </div>
             <!-- Priority Matching -->
            <div class="form-group row pt-4">
                <div class="col-sm-2"></div>
                <label class="col-sm-4 control-label font-weight-bold text-right" for="singlebutton">Piority Matching</label>
                <div class="col-sm-4 text-left">
                    <button type="submit" id="start" name="Import" class="btn btn-warning button-loading" data-loading-text="Loading...">Start</button>
                </div>
                <div class="col-sm-2"></div>
            </div>

            </div>
    </form>
<?php
   get_all_records();
?>
    </div>
        
</body>
</html>